// Colors
$text-color-light: #ffffff;
$text-color-dark: #333333;
$blue-color: #007bff;

// Spacing
$spacing-unit: 8px;

// Font
$font-family-base: 'Poppins', sans-serif;

$border-color: #e1e1e1;
$error-color: #e53935;

//background
$background-color-light: #f9f9f9;
$background-color-dark: #4b4b4b;

$navbar-height: 70px;
$footer-height: 50px;
