@use '../abstracts/index.scss' as *;

.carousel-content {
  @include flex-center;

  .carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;

    @include responsive(md) {
      height: 300px; // smaller height on tablets
    }

    @include responsive(sm) {
      height: 200px; // smaller height on mobile
    }

    @include responsive(lg) {
      height: 400px; // default height on desktop
    }
  }
}

/* Ant Design Carousel overrides */
.ant-carousel .slick-slide img {
  border-radius: 0;
}

.ant-carousel .slick-dots li button {
  background: white;
}

.ant-carousel .slick-dots li.slick-active button {
  background: black;
}
