@use '../abstracts/index.scss' as *;

.product-card-container {
  background: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  cursor: pointer;

  &:hover {
    transform: translateY(-5px);
  }

  .product-card-img {
    width: 100%;
    height: 400px;
    object-fit: cover;

    @include responsive(md) {
      height: 300px;
    }

    @include responsive(sm) {
      height: 200px;
    }
  }

  .product-card-title {
    font-size: 1.2rem;
    padding: 0 0.5rem;
    color: $text-color-dark;

    @include responsive(md) {
      font-size: 1rem;
    }

    margin: 0.5rem 0;
  }

  .product-card-desc {
    font-size: 0.9rem;
    color: #555;
    padding: 0 0.5rem 1rem;

    @include responsive(md) {
      font-size: 0.8rem;
    }

    @include responsive(sm) {
      font-size: 0.75rem;
    }
  }

  .product-card-price {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1rem;
    padding: 0 0.5rem;

    @include responsive(md) {
      font-size: 0.9rem;
    }
  }
}
